.page {
	width: 1300px;
	background-color: white;
	margin: auto;
	padding: 50px;
	padding-top: 30px;
	font-family: 'Lato', sans-serif;
}

.pure-g {
	margin-bottom: 20px;
  }

.t {
	margin-bottom: 5px;
}

.orange{
	color : #eb7116;
}

h1 {
	font-weight: 900;
	font-size : 60px;
	text-align: center;
	color : #eb7116;
	font-family: 'Lato', sans-serif;
}

h2 {
	font-weight: 600;
	font-size : 31px;
	text-align: justify;
	color : #433a3f;
	font-family: 'Lato', sans-serif;
}

h4 {
	font-weight: 400;
	font-size : 13px;
	text-align: center;
	margin-bottom: 0px;
	font-family: 'Lato', sans-serif;
}

p {
	font-weight: 400;
	font-size : 17px;
	color : #433a3f;
	text-align: justify;
	font-family: 'Lato', sans-serif;
}

body {
	background-color: lightgray;
}
  
.vis-container {
	width: 100%;
}

.map-container {
	width: 100%;

}

.description h2,
h1 {
	margin-top: 0px;
}

.description-right {
	padding-left: 190px;
	text-align: justify;

}
  
.description-left {
	padding-right: 257px;
	text-align: justify;
}
  
.small-font {
	font-size: 14px;
}
