/* Reset the body to ensure no conflicting styles */
body {
	margin: 0;
	padding: 50px;
	text-align: center;
  }
  
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh; /* Ensure the container takes up at least the viewport height */
	text-align: center;
	font-family: Helvetica , sans-serif;
	color: rgb(230, 62, 32); 
  }
  
  
  /* Set Lato font family for h1 */
  h1 {
	font-family: Helvetica , sans-serif;;
	text-align: center;
	font-size: 24px;
	
  }  